<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Easy Schedule</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>
	<body>
		<p> Welcome to </p>
			<div class="center">
			<h1>Organization+</h1>
			<br>
			<form action="/cadastro" method="POST">
				<div>
				<label for="User">Nome do Usuario</label>
				<br>
				<input type="text" name="nome_input" required>
				</div>
				<div>
				<label for="User">Email</label>
				<br>
				<input type="text" name="email_input" required>
				</div>
				<div>
				<label for="User">Senha</label>
				<br>
				<input type="password" name="senha_input" required>
				</div>
				<input type="submit" value="Submit" id="greet">
				<br>
			</form>
				<form action="/login" method="get">
					<input type="submit" value="Voltar" id="greet">
				</form>
			</div>
	</body>
</html>